{% extends "base.html" %}
{% block title %}error{% endblock title %}
{% block content %}
<style>
.page_404 {
    padding: 40px 0!important;
    background: #fff!important;
    font-family: 'Arvo', serif!important;
}
.page_404 img {
    width: 100%!important;
}
.four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px!important;
    background-position: center!important;
}
.four_zero_four_bg h1 {
    font-size: 80px!important;
}
.four_zero_four_bg h3 {
    font-size: 80px!important;
}
.link_404 {
    color: #fff !important;
    padding: 10px 20px!important;
    background: #39ac31!important;
    margin: 20px 0!important;
    display: inline-block!important;
}
.contant_box_404 {
    margin-top: -40px;
}
</style>
<section class="page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="col-sm-12 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">404</h1>
                    </div>
                    <div class="contant_box_404">
                        <h3 class="h2">Look like you're lost</h3>
                        <p>the page you are looking for not avaible!</p>
                        <a href="{% url 'Home' %}" class="link_404">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}