{% extends "base.html" %}
{% block title %}home{% endblock title %}
{% block classActiveLog %} active {% endblock classActiveLog %}
{% block content %}
{% load static %}
<main class="dark-theme-bg">
	<section>
		<div class="container mb-4">
			<div class="row">
				<div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
					<div class="p-4 p-sm-5 bg-primary-soft rounded">

						{% if notUser %}
						<div class="alert alert-primary alert-dismissible" role="alert" id="liveAlert">
							<strong>Nice!</strong> errr.
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
						{% endif %}

						<h2 class="dark-theme-color">Log in to your account</h2>
						<form class="mt-4 contact-form" method="post" name="login">
							{% csrf_token %}
							<div class="mb-3">
								<label class="form-label dark-theme-color" for="exampleInputEmail1">Email
									address</label>
								{{ form.email }}
							</div>
							<div class="mb-3">
								<label class="form-label dark-theme-color" for="exampleInputPassword1">Password</label>
								{{ form.password }}
							</div>
							<div class="row align-items-center">
								<div class="col-sm-4">
									<button type="submit" class="btn btn-success">Log In </button>
								</div>
								<div class="col-sm-8 text-sm-end">
									<span>Don't have an account?
										<a href="{% url 'Register' %}">
											<u>Sign up</u>
										</a>
									</span>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock content %}